:root {
  --primary: #3096FE;
  --secondary: #FFBB00;
  --text: #333333;
  --btn-bg-yellow: rgb(255, 187, 0, 0.15)
}

* {
box-sizing: border-box;
}

html, body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #333333;
} 

.btn {
  border-radius: 9px;
  font-weight: 500;
  padding: 0.5rem 1rem;
}

.btn-warning {
  color: white; 
  background-color: var(--secondary) ;
}

.btn-warning:hover {
  color:white;
}

.btn-yellow {
  background-color: var(--btn-bg-yellow);
  color: var(--secondary);
}

.btn-yellow:hover {
  opacity: 0.8;
  color: var(--secondary);
}


.btn-outline-light:hover {
  color: var(--primary);
}

.btn-blue {
  background-color: var(--primary);
  color: white;
  width: 200px;
  height: 50px;
}

.btn-blue:hover{
  opacity: 0.8;
  color: white;
}
#buttons-app {
  display: flex;
  justify-content: center;
}

.header-bg {
  background: url('/img/Group.4634.png'), url('/img/Rectangle.1914.png');
  background-repeat: no-repeat;
  background-position: bottom;
}



.nav-item a:hover {
  color: orange !important;
  text-decoration: underline;
}



#showcase {
  margin: 2rem 0;
}
#showcase .container, #about-us .container, #app-screen .container, #app-stat .container{
  justify-content: space-around;
}

#showcase .content, #about-us .content, #app-screen .content, #app-stat .content {
  align-self: center;
  text-align: center;
}

#showcase h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 3.5rem;
  color: white;
}

#showcase p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: white;
}

#showcase img {
  margin: 1rem auto 1rem auto;
  display: block;
  width: 80%;
}

#showcase i {
  color: orange;
}

.fas span {
  color: white;
}



.collapse-my5, .collapse-my5-1 {
  display: none;
} 

.my-5 .row {
  display: flex;
  /* margin: 0 2rem; */
}

.row img{
  width: 9rem;
}

#about-us h1, .features-bg h1, #app-screen h1, #app-stat h1{
  font-weight: 900;
}

.image1 {
  position: relative;
  top: 0;
  left: 0;
}

.image2 {
  position: relative;
  top: 0;
  left: 0;
  border: 1px solid black;
  z-index: 2;
}

.image3 {
  position: absolute;
  top: 1rem;
  left: 4rem;
  border: 1px solid black;
}

/* .about-us-bg {
  background: url('/img/bg-about-us.png');
  background-repeat: no-repeat;
  background-position: center;
} */

#about-us .container {
  padding-bottom: 2rem;
}

.features-bg {
  background: url('/img/Features.png');
  background-color: #F5F5F5;
  background-repeat: no-repeat;
  padding-top: 1.5rem;
  /* padding: 3rem; */
}

.mobile-features img, .mask-group img{
  width: 100%;
}

.features-bg .flex h1 {
  font-weight: 900;
  font-size: 1.3rem;
}

.grid-wrapper img {
  padding: 1rem 1rem 0 0;
  margin: auto; 
}



.app-stat-bg {
  background-image: url('/img/statistic.png');
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
}

#app-stat h2 {
  color: #3096FE;
  font-weight: 700;
  margin: 0;
}

#app-stat .stat-box p {
  font-weight: 500;
}



.download-bg {
  background-image: url('/img/Banner.png');
}


.download-bg h1 {
  font-weight: 700;
  color: white;
  font-size: 3.1rem;
}

.download-bg p {
  color: white;
  padding: 1rem 0 1rem 0;
}

#buttons-app img{
  margin: 0;
  margin: 0.1rem;
  width: 9.5rem;
}


.mask-group img {
  /* width: 15rem; */
  padding-top: 2rem;
}


.forms {
  width: 100%;
  text-align: center;
  margin: auto;
}

.forms p {
  margin: 0;
}

.form-control {
  border: none;
  background-color: #FBFBFB;
  border-radius: 9px;
}

.form-group .textarea {
  color: #3096FE;
}


.footer-bg {
  background-image: url('/img/footer.png');
}

.footer-bg .container {
  text-align: center;
}

.footer-bg ul {
  display: none;
}

.socialmedia a{
  color: white;
  font-size: 1rem;
  margin: 0 1rem 0 1rem;
}



.socialmedia .box {
  background-color: rgb(112, 112, 112, 0.15);
  border-radius: 30%;
}





@media(min-width: 768px) {
  .container {
      max-width: 720px;
  }

  #buttons-app img{
    margin-right: 1rem;
    width: 10rem;
  }

  .my-5 .row {
   margin: 0 2rem;
  }

  .row img {
    width: 10rem;
  }
  .collapse-my5 {
    display: inline;
  }

  .mobile-features img, .mask-group img{
    width: auto;
  }

  #about-us .content {
    padding-left: 0;
  }



  .footer-bg ul {
    display: flex;
  }
}



@media(min-width: 992px) {
  .container {
      max-width: 960px;
    }

  #buttons-app {
    justify-content: left;
    text-align: left;
  }  

  .nav-item {
    padding-right: 1.5rem;
  }   



  #showcase .container, #about-us .container {
    display: flex;
  }

  #showcase .content, #about-us .content {
    text-align: left;
  }

  #showcase img{
    margin-top: 1rem;
    display: flex;
    margin-left: 0;
    margin-right: 0;
    width: 30rem; 
  }



  .collapse-my5-1 {
    display: inline;
  }



  #about-us .content {
    padding-left: 15rem;
  }

  .image3 {
    position: absolute;
    top: 1rem;
    left: -8rem;
    border: 1px solid black;
  }

  .mobile-features img, .mask-group img{
    width: 100%;
  }

  .mask-group img{
    justify-content: right;
  }

  .grid-wrapper .flex {
    display: flex;
    justify-content: space-between;
  }

  .grid-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
  }



  #app-screen .content, #app-stat .content {
    width: 50%;
    margin: auto;
    /* padding-top: 3rem; */
  }



  #app-stat .flex {
    display: flex;
    justify-content: space-between;
  }



 

}

@media(min-width: 1200px) {
  .container {
     max-width: 1140px;
    }

}



@media(min-width: 1400px) {
  .container {
      max-width: 1320px;
  }

}